# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

echo "node_modules/" >> .gitignore
echo "bun.lockb" >> .gitignore
echo "blinkshop/node_modules/bun/bin/bun.exe" >> .gitignore
echo "blinkshop/node_modules/@oven/bun-windows-x64-baseline/bin/bun.exe" >> .gitignore
.env
lewkout-bcf84-firebase-adminsdk-fbsvc-e8b98209b3.json