* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.carousel-container {
  position: relative;
  width: 100vw; /* full viewport width */
  height: 60vh; /* desktop height */
  overflow: hidden;
}

/* .carousel-slide {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  text-decoration: none;
  z-index: 0;
} */
.carousel-slide {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* .carousel-img {
  width: 100%;
  height: 10%;
  object-fit: cover; 
  display: block;
} */
 .carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* same as background-size: cover */
  display: block;
}

/* Indicators */
.carousel-indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 2;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: #f7941d;
  opacity: 1;
}

/* Arrows */
.carousel-arrow {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  font-size: 2.5rem;
  padding: 10px;
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  z-index: 2;
  transition: background-color 0.3s ease-in-out;
}

.carousel-arrow:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.left-arrow {
  left: 20px;
}

.right-arrow {
  right: 20px;
}

/* Mobile Only Responsive */
@media (max-width: 768px) {
  .carousel-container {
    height: 70vh; /* smaller height for mobile */
    
  }

  .carousel-img {
    object-fit: cover; /* full width + height maintain aspect ratio */
  }

  .carousel-arrow {
    display: none; /* hide arrows on mobile */
  }
}
