.heart-container {
    /* border: 2px solid red; */
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 25px;
  left:-3px;
  bottom:3px ;
}

.heart {
  width: 15px;
  height: 15px;
  
  background-color: rgb(93, 93, 93);
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>');
  mask-size: cover;
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>') no-repeat center;
  -webkit-mask-size: cover;
  transition: background-color 0.3s ease;
}

.heart-container.clicked .heart {
  background-color: red;
}

.sparkles {
  position: absolute;
  top:0;
  left:0;
  width: 90%;
  height: 90%;
  pointer-events: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><circle cx="12" cy="2" r="2" fill="yellow"/><circle cx="4.2" cy="4.2" r="2" fill="yellow"/><circle cx="2" cy="12" r="2" fill="yellow"/><circle cx="4.2" cy="19.8" r="2" fill="brown"/><circle cx="12" cy="22" r="2" fill="pink"/><circle cx="19.8" cy="19.8" r="2" fill="orange"/><circle cx="22" cy="12" r="2" fill="red"/><circle cx="19.8" cy="4.2" r="2" fill="pink"/></svg>');
  animation: sparkles 0.5s ease forwards;
}

@keyframes sparkles {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
