.trending-container {
    font-family: Arial, sans-serif;
    padding: 16px;
    /* background-color: #fff; */
    background-color: #fff2d7;
    color: #000;
/* border: 1px solid red; */
margin-top: 65px;
  }
  
  .search-barrrrr {
    position: relative;
    width: 100%;
  }
  
  .inppp {
    padding-left: 12px;
    height: 40px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    z-index: 2;
    font-size: 1rem;
  }
  
  /* This styles the fake placeholder */
  .fake-placeholder {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #aaa;
    pointer-events: none;
    font-size: 1rem;
    z-index: 1;
  }
  
  
  .search-bar .back-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  
 

  
  .section {
    margin-bottom: 24px;
  }
  
  .section h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .trending-tags,
  .trending-products{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  
  .tag {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    cursor: pointer;
    font-weight:lighter;
    font-size: small;
  }
  
  .tag.more-tag {
    color: green;
    font-weight:200;
  }
  
  .trending-products {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 15px;
    height: 200px;
  }
  .trending-products::-webkit-scrollbar{
    display: none;
  }
  
  .product-cardsm {
    min-width: 120px;
    
    border: none;
    text-align: center;
  }
  
  .product-cardsm img {
    width: 100%;
    border-radius:0;
  }
  
  .categories-sme {
    /* border: 1px solid red; */
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns:repeat(3,1fr) ;
    
    width: 100%;
    height: 150px;
    
  }
  
  .category-cardsme {
    display: grid;
    text-align: start;
    
    margin: auto;
    /* border: 1px solid black; */
    
  }
  
  .category-cardsme img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .category-cardsme p {
    margin-top: 8px;
    font-size: 14px;
  }
  .search-results {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }
  
  .search-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  
  .search-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .search-item .product-name {
    font-size: 14px;
    font-weight: 500;

  }
  
  .search-item .product-price {
    color: green;
    font-size: 14px;
  }
  
  .view-more {
    text-decoration: none;
    color: #888;
  }
  
  .view-all a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: blue;
    text-decoration: none;
  }
  