.size-chart-container {
    padding: 16px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* border: 2px solid red; */
    
  }
  
  .back-btn {
    display: inline-block;
    margin-bottom: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    text-align: left;
  }
  
  .back-btn:hover {
    background-color: #0056b3;
  }
  
  h2 {
    margin-bottom: 16px;
    font-size: 18px;
    color: #333;
  }
  
  .size-chart-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .size-chart-table th,
  .size-chart-table td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .size-chart-table th {
    background-color: #004d00;
    color: #fff;
  }
  
  .size-chart-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .size-chart-table tr:nth-child(odd) {
    background-color: #ffffff;
  }
  .btn-and-bs{
    /* border: 1px solid red; */
    display: flex;
  }
  .btn-and-bss{
    /* border: 1px solid red; */
    text-align: center;
  }
  @media screen and (max-width: 768px){
    .size-chart-container {
        margin-top: 20%;
        padding: 16px;
        max-width: 600px;
        /* margin: 0 auto; */
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        /* border: 2px solid red; */
        
      }
  }