/* .sticky-button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #fff;

  z-index: 1000;
}

.sticky-button-container.sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.sticky-button-container.non-sticky {
  position: static;
} */

.normal-button-container,
.sticky-button-container {
  display: flex;
  justify-content: space-around;
  padding: 12px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}

.normal-button-container.visible,
.sticky-button-container.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.sticky-button-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}
