/* OrderDetails.css */

body {
    font-family: "Arial", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  .order-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .order-header {
    font-size: 20px;
    margin: 0;
    padding: 10px 0;
    color: #333333;
  }
  
  .help-button {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #3cb371;
    cursor: pointer;
    font-weight: bold;
  }
  
  .order-card {
    border-bottom: 1px solid #eeeeee;
    padding: 15px 0;
  }
  
  .order-status {
    margin-bottom: 5px;
  }
  
  .status-badge {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
  }
  
  .status-badge.delivered {
    background-color: #27ae60;
  }
  .status-badge.points-added{
    background-color: #27ae60;
  }
  
  .status-badge.returned {
    background-color: #e74c3c;
  }
  
  .status-badge.cashback-processed{
    background-color: #000000;
  }
  .status-badge.pending-returned{
    background-color: #043eff;
  }

  .status-badge.shipped {
    background-color: blue;
  }
  .status-badge.pending{
    background-color:yellow;
    color: black;
  }
  
  
  
  .order-details {
    display: flex;
    gap: 15px;
  }
  
  .order-image {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .order-info {
    flex: 1;
  }
  
  .ordeer-title {
    margin: 0;
    font-size: 13px;
    color: #333333;
    font-weight:600;
  }
  
  .order-meta {
    margin: 5px 0;
    font-size: 14px;
    color: #777777;
  }
  
  .order-delivery {
    font-size: 14px;
    color: #555555;
  }
  
  .rating-section {
    margin-top: 10px;
  }
  
  .stars {
    color: #f1c40f;
    font-size: 14px;
  }
  
  .rate-text {
    font-size: 12px;
    color: #777777;
  }
  
  .order-summary {
    background-color: #f0f8f5;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 14px;
    color: #555555;
    text-align: center;
  }
  
  .view-breakup {
    display: block;
    margin-top: 5px;
    color: #3cb371;
    text-decoration: none;
  }
  
  .view-breakup:hover {
    text-decoration: underline;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .order-container {
      margin: 10px;
      padding: 15px;
    }
  
    .order-details {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .order-image {
      width: 60px;
      height: 60px;
    }
  }
  