
*{
  user-select: none;
  -webkit-user-select: none;
}
/* Full page layout plzzz sab kuch fix ho jaye kaash */
html, body, #root {
        height: 100%;
        margin: 0;
        padding: 0;
        /* overflow-x: hidden; */
        /* font-family: 'Courier New', Courier, monospace;
         */
         /* font-family: 'Playfair Display', serif; */
        background-color:white;
      }
      /* div{
        background-color: white;
      } */
      h1{
        font-family: 'Playfair Display', serif;
      }
      button{
        font-family: 'Montserrat', sans-serif;
        /* background-color:#f98866; */
      }
      #popup-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 9999;
      }
      
      .popup-notification {
        pointer-events: auto;
      }
.mainnn-contenttttttt {
  background-color: white;
        display: flex;
        flex-direction: column;
        /* min-height: 100vh;  Full height page */
      }
      /* Content jo grow hoga */
.contenttt {
        flex: 1; /* Jitna space milega utna fill karega */
        background-color: white;
      }


      /* ✅ Main Content for Normal Website */
/* .main-content {
        flex: 1;
        padding: 0;
        min-height: 100vh;
      } */
      
      /* ✅ Fix for Admin Panel */
      .dashboard-container {
        border: 1px solid black;
        display: flex;
        flex-direction: row; /* Sidebar + Main Content */
        min-height: 100vh;
        width: 100%;
        background-color:white; /* Light background */
      }
      
      .dashboard-content {
        flex-grow: 1; /* Main content takes up remaining space */
        padding: 20px;
        overflow: auto; /* Prevents content from overflowing */
      }

      
      
/* Footer ko neeche fix rakhne ke liye */
.footer {
        background: #222;
        color: white;
        text-align: center;
        padding: 10px;
      }
.navlink{
        color: black;
}
.navlink:hover{
        color: black;
}
  

.admin-ka-panel-main{
  width: 100%;
  height: 100%;
}
